<html>
  <style>
    body {
      background-color: rgb(192, 190, 190) !important;
    }
    .container {
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 5px;
      padding: 10px;
      margin: 10px 0;
    }

    .mainContainer {
      border: 1px solid lightgray;
      border-radius: 3px;
      min-height: 40vh;
    }
    /* Darker chat container */
    .darker {
      border-color: #ccc;
      background-color: #ddd;
    }

    /* Clear floats */
    .container::after {
      content: "";
      clear: both;
      display: table;
    }

    /* Style images */
    .container img {
      float: left;
      max-width: 60px;
      width: 100%;
      margin-right: 20px;
      border-radius: 50%;
    }

    /* Style the right image */
    .container img.right {
      float: right;
      margin-left: 20px;
      margin-right: 0;
    }

    /* Style time text */
    .time-right {
      float: right;
      color: #aaa;
    }

    /* Style time text */
    .time-left {
      float: left;
      color: #999;
    }
    .myMessage {
      margin: 5px;
      align-self: flex-start;
      min-height: 7vh;
      min-width: 20vw;
      border-style: solid;
      border-color: black;
      border-width: 1px;
      border-radius: 3px;
      justify-content: center;
    }
    .receivedMessage {
      margin: 5px;
      align-self: flex-end;
      min-height: 7vh;
      min-width: 20vw;
      border-style: solid;
      border-color: black;
      border-width: 1px;
      border-radius: 3px;
    }

    .messageText {
      position: relative;
      top: 20%;
      left: 5%;
    }
  </style>
  <head>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="container-fluid row">
      <div class="container col-lg-4">
        <div style="display: flex; flex-direction: row">
          <div
            id="onlineUsers"
            style="
              font-size: large;
              font-weight: 500;
              border-right: 2px solid black;
              padding-right: 5px;
              margin-right: 5px;
              cursor: pointer;
            "
          >
            Online Users
          </div>
          <div
            id="rooms"
            style="font-size: large; font-weight: 500; cursor: pointer"
          >
            Rooms
          </div>
        </div>
        <div id="userList">
          <div style="display: flex; justify-content: start" class="container">
            <!-- <img src="/w3images/bandmember.jpg" alt="Avatar" /> -->
            <div styler="align-items: center">CoolUser513</div>
          </div>
        </div>
        <div id="roomList" style="display: none">
          <button
            id="createRoom"
            style="margin-left: auto; margin-top: 5px;"
            type="button"
            class=" btn btn-xs btn-secondary"
            data-toggle="modal" 
            data-target="#createRoomModal"
          >
            Create Room
          </button>
          <div id="theRooms">
          </div>
        </div>
      </div>
      <div
        class="container mainContainer col-lg-7"
        style="width: 50% !important"
      >
        <div id="roomName" style="font-size: large; font-weight: 500">
          Room Id: 192LK8
        </div>
        <div id="chatBox" style="overflow-y: scroll; height: 83%">
          <div class="container">
            <!-- <img src="/w3images/bandmember.jpg" alt="Avatar" /> -->
            <p>Hello. How are you today?</p>
            <span class="time-right">11:00</span>
          </div>

          <div class="container darker">
            <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" /> -->
            <p>Hey! I'm fine. Thanks for asking!</p>
            <span class="time-left">11:01</span>
          </div>

          <div class="container">
            <!-- <img src="/w3images/bandmember.jpg" alt="Avatar" /> -->
            <p>Sweet! So, what do you wanna do today?</p>
            <span class="time-right">11:02</span>
          </div>

          <div class="container darker">
            <!-- <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="right" /> -->
            <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
            <span class="time-left">11:05</span>
          </div>
        </div>
        <div
          style="
            display: flex;
            padding: 0px;
            border: 1px solid lightgray;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          "
        >
          <textarea id="messageBox" style="resize: none; flex: 11"></textarea>
          <i
            class="fas fa-location-arrow"
            style="
              color: darkgrey;
              font-size: 36px;
              flex: 1;
              align-self: center;
              text-align: center;
            "
          ></i>
        </div>
      </div>
    </div>
    <div class="modal fade" id="createRoomModal" tabindex="-1" role="dialog" aria-labelledby="createRoomModal" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Name your room</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- <textarea id="roomToCreate" style="resize: none" class="mr-5 ml-5"> -->
            <input type="text" id="roomToCreate" required class="ml-3 mr-3">
          </textarea>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="createRoomButton" type="button" class="btn btn-primary">Create Room</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="container">
      <div
        id="Chatbox"
        style="
          display: flex;
          flex-direction: column;
          width: 80vw;
          height: 70vh;
          border-width: 1px;
          border-color: grey;
          border-style: solid;
          border-radius: 5px;
          margin-top: 3vh;
          overflow: scroll;
        "
      >
        <div class="myMessage">
          <div class="messageText">Hey hey hey</div>
        </div>
        <div class="receivedMessage">
          <div class="messageText">Hey hey hey</div>
        </div>
      </div>
    </div> -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>
